FLASK_APP=
SECRET_KEY=
FLASK_CONFIG=
MOUNT_PATH_MAIN=

# Email
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# FHIR
TEST_GROUP_ID=
FHIR_KICK_OFF_URL=

# EPIC
EPIC_CLIENT_ID=
EPIC_TOKEN_URL=